on init

    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo

on boot

    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/scheduler sioplus

    # big.LITTLE
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400

    # LITTLE
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1555200

    # big.
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 1958400

    #LITTLE
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "26000 600000:20000 672000:10000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 38000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 33000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 40000

    #big.
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 40000

    write /sys/module/cpu_boost/parameters/input_boost_enabled
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:600000 1:600000 2:0 3:0 4:0 5:0 6:0 7:0"

    # Wake Gestures
    chown system system /sys/android_touch/doubletap2wake
    chmod 0644 /sys/android_touch/doubletap2wake
    chown system system /sys/android_touch/sweep2wake
    chmod 0644 /sys/android_touch/sweep2wake
    chown system system /sys/android_touch/sweep2sleep
    chmod 0644 /sys/android_touch/sweep2sleep
    chown system system /sys/android_touch/wake_gestures
    chmod 0644 /sys/android_touch/wake_gestures
    chown system system /sys/android_touch/vib_strength
    chmod 0644 /sys/android_touch/vib_strength
    write /sys/android_touch/vib_strength 40

    setprop dalvik.vm.heapminfree 2m

    # other settings
    write /sys/module/mdss_fb/parameters/backlight_dimmer Y
    write /sys/module/mmc_core/parameters/use_spi_crc 0
    write /sys/module/sync/parameters/fsync_enabled N
    write /sys/class/timed_output/vibrator/vmax_mv_strong 3596
    write /sys/devices/virtual/timed_output/vibrator/vmax_mv_light 3296
    write /sys/devices/virtual/misc/soundcontrol/volume_boost 20

    # Enable idle state
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    #
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu6/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu7/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

on property:sys.boot_completed=1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # Fix audio distortion
    write /sys/module/snd_soc_wcd9330/parameters/uhqa_mode_pdesireaudio 0
    write /sys/kernel/sound_control_3/gpl_speaker_gain 5
    write /sys/kernel/sound_control_3/gpl_headphone_pa_gain 0

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root
