on init

    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo

on boot

    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/scheduler cfq

    # big.LITTLE
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor cultivation
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor cultivation
    restorecon -R /sys/devices/system/cpu
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400

    # LITTLE
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1555200

    # big.
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor cultivation
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 1958400

    #LITTLE
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor cultivation
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/fastlane 0
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/go_lowspeed_load 10
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/hispeed_freq 1555200
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/powersave_bias 1
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/target_loads 90
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/timer_rate_screenoff 50000
    write /sys/devices/system/cpu/cpu0/cpufreq/cultivation/timer_slack 80000

    #big.
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor cultivation
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/fastlane 0
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/go_lowspeed_load 10
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/hispeed_freq 1958400
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/powersave_bias 1
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/target_loads 90
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/timer_rate_screenoff 50000
    write /sys/devices/system/cpu/cpu4/cpufreq/cultivation/timer_slack 80000

    write /sys/module/cpu_boost/parameters/input_boost_enabled 0
    #write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:960000 3:960000 4:0 5:0"
    $write /sys/module/cpu_boost/parameters/boost_ms 0
    $write /sys/module/cpu_boost/parameters/input_boost_ms 50
    write /sys/module/msm_performance/parameters/touchboost 0

    # Wake Gestures
    chown system system /sys/android_touch/doubletap2wake
    chmod 0644 /sys/android_touch/doubletap2wake
    chown system system /sys/android_touch/sweep2wake
    chmod 0644 /sys/android_touch/sweep2wake
    chown system system /sys/android_touch/sweep2sleep
    chmod 0644 /sys/android_touch/sweep2sleep
    chown system system /sys/android_touch/wake_gestures
    chmod 0644 /sys/android_touch/wake_gestures
    chown system system /sys/android_touch/vib_strength
    chmod 0644 /sys/android_touch/vib_strength
    write /sys/android_touch/vib_strength 40

    # Thermal control
    write /sys/module/msm_thermal/parameters/poll_ms 350
    write /sys/module/msm_thermal/parameters/temp_threshold 63
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
    setprop dalvik.vm.heapminfree 2m

    # other settings
    write /sys/module/mdss_fb/parameters/backlight_dimmer Y
    write /sys/module/mmc_core/parameters/use_spi_crc 0
    write /sys/module/sync/parameters/fsync_enabled N
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/class/timed_output/vibrator/vmax_mv_strong 3596
    write /sys/devices/virtual/timed_output/vibrator/vmax_mv_light 3296
    write /sys/devices/virtual/misc/soundcontrol/volume_boost 20

    # Re-enable retention idle state
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled Y
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled Y

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root
